

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("bg.jpg");
    background-color: rgb(89, 89, 131);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo{
    width: 50%;
    background-color: aliceblue;
    align-self: center;
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 5px 10px 20px black;
}

.app_titulo{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app_titulo p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #333;
}

#procurar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: 3px solid rgb(24, 5, 70);
}

.notificacao{
    background-color: aliceblue;
    display: none;
}

.notificacao p{
    color:maroon;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.tempo_conteudo{
    width: 100%;
    height: 260px;
    background-color: whitesmoke;
    margin-top: 20px;
}

.temperatura-icon{
    width: 100%;
    height: 128px;
}

.temperatura-icon img{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.local-icon{
    width: 100%;
    height: 40px;
    padding: 10px;
}

.local-icon img{
    display: block;
    width: 32px;
    margin: 10px auto;
    cursor: pointer;
    padding: 5px;
    border: steelblue solid 2px;
    border-radius: 10px;
    color: steelblue;
}

.temperatura{
    width: 100%;
    height: 60px;
}

.temperatura p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
}

.temperatura span{
    color: #293251;
    font-size: 0.5em;
}

.temperatura-desc{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.local p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

div.relativo{
    position: absolute;
    top: 600px;
    right: 120px;
}

.input 
{
    text-align: center;
}

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(120, 121, 114);
    opacity: 1; /* Firefox */
}

input[type="text"]
{
    height: 10vh;
    width: 50%;
    font-family: "Nunito", sans-serif;
    background: rgb(8, 6, 126);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

/*estilos do footer */

footer{
    padding-top: 10px;
    color: rgb(0, 0, 0);
    clear: both;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    
}

footer a{
   color: #000000;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: red;
}